* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.vw-99 {
  width: 99vw!important;
}

.scrolly {
  overflow-y: auto;
}

.scrollx {
  overflow-x: auto;
}

.backStyle {
  background-image: linear-gradient(to left top, #122e40, #122e40);
}

.fontNormal {
  color: #ffe7e7;
}

a {
  text-decoration: none;
  list-style: none;
  color: #f8f9fa;
}

/* NAVBAR */
.dropdown-menu {
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #044e52;
}

.navActive {
  background-color: #044e52 !important;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  height: 10%;
}

.navActive2 {
  background-color: #044e52 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.cart {
  width: 30px;
  height: auto;
  margin-right: 10px;
}


.navLinks {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.55) !important;
  --bs-btn-color: rgba(255, 255, 255, 0.55) !important;
}

.navLinks :hover {
  color: white
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: #ffffff;
  --bs-dropdown-bg: #005f64;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #037c82;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* HERO SECTION */
.heroSection {
  background-image: linear-gradient(to left top, #051937, #00304e, #00485e, #005f64, #177663);
  height: 100vh;
  width: 100%;
  color: #f8f9fa;
}

.fontHero {
  font-size: 4.5rem;
  color: #f8f9fa;
}

.fontHero2 {
  font-size: 3.5rem;
  color: #f8f9fa;
}

.spanHero {
  color: rgba(255, 145, 0, 0.965);
}

.pet {
  width: 26%;
  position: absolute;
  top: 23%;
  left: 58%;
}

.heroPart2 {
  background-image: url("/heroSection2.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.brand :hover {
  color: rgba(255, 255, 255, 0.55);
}


/* ANIMACIONES */

.bounce {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 60px, 0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logoSpinner {
  animation: spinner 1.5s linear infinite;
}

/* CATEGORIAS AND PRODUCT*/

.categories {
  background: rgb(15, 37, 35);
  background: linear-gradient(121deg, rgba(15, 37, 35, 1) 0%, rgba(14, 40, 36, 1) 81%);
  height: 100vh;
}

.cardFont {
  font-size: 1rem;
}

.categoryFont {
  font-size: 1.8rem;
}

.cardCategoriesContainer {
  width: 100%;
  height: auto;
  color: #f8f9fa;
}

.cardCategories {
  width: 16rem;
  height: 15rem;
  color: #f8f9fa;
  background-color: #00304e;
}

.products {
  background-color: azure;
}

.cardProductsContainer {
  width: 100%;
}

.cardOfferContainer {
  flex-wrap: nowrap;
  overflow: auto;
}

.cardProducts {
  width: 16rem;
  height: 23rem;
  color: #f8f9fa;
  background-color: rgb(0, 90, 113);
}


.descFont {
  font-size: 10px;
}

.priceFont {
  font-size: 2rem;
}

#offerOption2 {
  display: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 0px;
  color: var(--bs-card-color);
}

#boton {
  display: none;
}

#contenedor:hover>#boton {
  display: block;
}

/* ITEM DETAIL CONTAINER */

.backfill {
  height: 10vh;
}

.detailContainer {
  background-image: linear-gradient(to left top, #051937, #00304e, #00485e, #005f64, #177663);
  height: 100%;
}

.fontDetail {
  font-size: 3rem;
  color: #f8f9fa;
}

.fontDescription {
  font-size: medium;
}

.imgDetail {
  width: 26rem;
}

.amount {
  width: 17vh;
  height: 5vh;
}

.amount button {
  font-size: 10px;
}

/* CART */

.totalCart {
  height: 80vh;
}

.totalCartContainer {
  height: 90vh;
}

.buttonCartContainer {
  height: 9vh;
}

.btnBuy {
  width: 100%
}

.card-body {
  width: 100%;
}

.btn-warning {
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #20c997;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.backCart1 {
  background-image: linear-gradient(to left top, #223f51, #1f3b4d);
}

.backCart2 {
  background-image: linear-gradient(to left top, #264d65, rgb(25, 96, 140))
}

.productCartContainer {
  height: 90vh;
  --bs-gutter-x: 1.5rem;
}

/* ERROR */

.errorContainer {
  background-image: linear-gradient(to left top, #051937, #00304e, #00485e, #005f64, #177663);
  height: 100vh;
}

.fontError {
  font-size: 8rem;
}

.fontErrorCategory {
  font-size: 5rem;
}

.fontErrorCart {
  font-size: 2rem;
}

/* OFFER */

.offerImgContainer {
  background-color: white;
  height: 10rem;
  width: 10rem;
  object-fit: none;
  border-radius: 10px;
}

.detailImgContainer {
  background-color: white;
  height: 70vh;
  width: 60vh;
  object-fit: none;
  border-radius: 10px;
}

.offerImg {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.backStyleFooter {
  background-image: linear-gradient(to left top, #193445, #193f56);
}

/* MODAL */

.modalStyle {
  background-image: linear-gradient(to left top, #017076, #166e5b);
  height: 10vh;
  width: 100%;
  color: #f8f9fa;
}

.backStyleModal {
  background-image: linear-gradient(to left top, #193445, #193f56);
  color: #f8f9fa;
}